* {
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.debug{
    border:1px solid black
}

.margin_null{
    margin:0 !important;
}

.logo{
    width: 30%;
}

.logo img{
    width: 100%;
}

.col-lg-4 span{
    text-transform: uppercase;
}
.col-lg-4 span:last-child:hover{
    color:black !important;
}

.col-lg-8 ul li{
    margin-right: 30px;
    color:#8b959e;
}
.col-lg-8 ul li button{
  padding: 0.625em 1.5em;
  border-radius: 2em;
  background-color: rgb(235, 0, 141);
  color:white;
  border:0;
}
.col-lg-8 ul li button:hover{
 
  background-color: rgba(235, 0, 115,0.7);
  
}

.dropdown-global{
    position:relative;
}

.dropdown-cont{
 display:none;
 position:absolute;
 top:40px;
 left:0;
 box-shadow: -8px 7px 9px 10px grey;
 padding: 10px;
 width:200px;
}
.dropdown-cont ul li{
 margin-bottom:30px;
 margin-right:0;
}
.active{
    display:block !important;
    
}

.dropdown-cont ul.ul-drop-cont li{
    display: block;
    width: auto;
    border:2px solid white;
    transform-origin: top left;
    margin-bottom: 1px;
  }

  .dropdown-cont ul li:hover {
    border : 2px solid rgb(189, 52, 39);
    color:white;
  }

  .dropdown-cont ul li:nth-child(1) {
    background-color: rgba(0,0,0,.8);
    padding:10px;
    animation-name: Toptobottom;
    animation-duration: 400ms;
    animation-delay: -150ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    opacity: 0;
  }
  .dropdown-cont ul li:nth-child(2) {
    background-color: rgba(0,0,0,.8);
    padding:10px;
    animation-name: Toptobottom;
    animation-duration: 400ms;
    animation-delay: 0ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    opacity: 0;
  }
  .dropdown-cont ul li:nth-child(3) {
    background-color: rgba(0,0,0,.8);
    padding:10px;
    animation-name: Toptobottom;
    animation-duration: 400ms;
    animation-delay: 150ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    opacity: 0;
  }
  .dropdown-cont ul li:nth-child(4) {
    background-color: rgba(0,0,0,.8);
    padding:10px;
    animation-name: Toptobottom;
    animation-duration: 400ms;
    animation-delay: 300ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    opacity: 0;
  }
  .dropdown-cont ul li:nth-child(5) {
    background-color: rgba(0,0,0,.8);
    padding:10px;
    animation-name: Toptobottom;
    animation-duration: 400ms;
    animation-delay: 450ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    opacity: 0;
  }
  .dropdown-cont ul li:nth-child(6) {
    background-color: rgba(0,0,0,.8);
    padding:10px;
    animation-name: Toptobottom;
    animation-duration: 400ms;
    animation-delay: 600ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    opacity: 0;
  }

  @keyframes Toptobottom {
    0% {
      opacity: 0;
      transform: rotateX(-90deg);
    }
    100% {
      opacity: 1;
      transform: rotateX(0deg);
    }
  }


