* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}

nav{
    display:flex;
    justify-content: space-around;
}

nav img{
    width:40%;
}

nav ul.categ{
    list-style-type: none;
    display:flex;
}

nav ul li{
    margin-right:30px;
}

.dropdown-global{
    position:relative;
}
.dropdown-global{
    position:relative;
}

.dropdown-global > div{
    position:absolute;
    top:30px;
    left:0;
    border:1px solid black;
    display:none;

}
.dropdown-global > div{
    position:absolute;
    top:30px;
    left:0;
    border:1px solid black;
    display:none;

}

.my_visible{
    display:block !important;
}

