* {
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.debug{
    border:1px solid black
}

.margin_null{
    margin:0 !important;
}

.logo{
    width: 30%;
}

.logo img{
    width: 100%;
}

.col-lg-4 span{
    text-transform: uppercase;
}
.col-lg-4 span:last-child:hover{
    color:black !important;
}

.col-lg-8 ul li{
    margin-right: 30px;
    color:#8b959e;
}
.col-lg-8 ul li button{
  padding: 0.625em 1.5em;
  border-radius: 2em;
  background-color: rgb(235, 0, 141);
  color:white;
  border:0;
}
.col-lg-8 ul li button:hover{
 
  background-color: rgba(235, 0, 115,0.7);
  
}

.dropdown-global{
    position:relative;
}

.dropdown-cont{
 display:none;
 position:absolute;
 top:40px;
 left:0;
 box-shadow: -8px 7px 9px grey;
}
.active{
    display:block !important;
}


