* {
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.debug{
    border:1px solid black
}

.margin_null{
    margin:0 !important;
}

.logo{
    width: 30%;
}

.logo img{
    width: 100%;
}

.col-lg-4 span{
    text-transform: uppercase;
}
.col-lg-4 span:last-child:hover{
    color:black !important;
}

.col-lg-8 ul li{
    margin-right: 30px;
    color:#8b959e;
}
button{
  padding: 0.625em 1.5em;
  border-radius: 2em;
  background-color:rgb(235, 0, 141);
  color:white;
  border:0;
}
button:hover{
 
  background-color:rgba(235, 0, 115,0.7);
  
}

.dropdown-global{
    position:relative;
}

.dropdown-cont{
 display:none;
 position:absolute;
 top:40px;
 left:0;
 box-shadow: -8px 7px 9px 10px grey;
 padding: 10px;
 width:200px;
}
.dropdown-cont ul li{
 margin-bottom:30px;
 margin-right:0;
}
.active{
    display:block !important;
    
}

.color{
    color:black !important;
}

.dropdown-cont ul.ul-drop-cont li{
    display: block;
    width: auto;
    border:2px solid white;
    transform-origin: top left;
    margin-bottom: 1px;
  }



  .dropdown-cont ul li{
    padding:10px;
    animation-name: Toptobottom;
    animation-duration: 400ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    opacity: 0;
    
  }
  .dropdown-cont ul li:hover{
    background : rgba(194, 193, 193, 0.6);
    cursor:pointer;
    color:black;
    
  }

  .dropdown-cont ul li:nth-child(1) {
     animation-delay: -150ms;
  }
  .dropdown-cont ul li:nth-child(2) {
      animation-delay: 0ms;
  }
  .dropdown-cont ul li:nth-child(3) {
      animation-delay: 150ms;
  }
  .dropdown-cont ul li:nth-child(4) {
      animation-delay: 300ms;
  }
  .dropdown-cont ul li:nth-child(5) {
      animation-delay: 450ms;
  }
  .dropdown-cont ul li:nth-child(6) {
      animation-delay: 600ms;
  }
  .dropdown-cont ul li:nth-child(7) {
      animation-delay: 750ms;
  }
  .dropdown-cont ul li:nth-child(8) {
      animation-delay: 900ms;
  }
  .dropdown-cont ul li:nth-child(9) {
      animation-delay: 1050ms;
  }
  .dropdown-cont ul li:nth-child(10) {
      animation-delay: 1300ms;
  }

  @keyframes Toptobottom {
    0% {
      opacity: 0;
      transform: rotateX(-90deg);
    }
    100% {
      opacity: 1;
      transform: rotateX(0deg);
    }
  }

  .mobile_nav-cont{
      width: 100vw;
      display:none;
      border:1px solid;
      position:absolute;
      left:auto;
      top:0;
      right:0;
      color:#8b959e;
      background:white;
      padding:20px;
      padding-top:30px;
  }


  .mobile-nav-cont ul li{
      margin-bottom:20px;
  }

  .mobile-nav-cont ul li:nth-child(1),
  .mobile-nav-cont ul li:nth-child(2){
      text-transform: uppercase;
}
  .mobile-nav-cont ul li:nth-child(2){
      border-bottom:1px solid lightgray
  }

  .my_style-heigth{
      min-height: 600px;
  }

  /* sezione bg header */
  .iphone{
      position:relative;
      width:50%;
  }

  .iphone > img{
    width: 70%;
  }

  .cont-iphone{
      width: 80%;
      padding:30px;
  }

  .cont-iphone img{
    position: absolute;
    top: 50%;
    left: 85%;
    width: 60%;
    transform: translate(-134%, -56%);
  }

.my_card img{
  position: absolute;
    top: 35%;
    left: 25%;
    width: 70%;
    transform: translate(-134%, -56%);
    transform: rotate(-243deg);
    z-index: -1;
}



.sticky-test img{
    position:sticky;
    top:0;
    width:40%;
    display:none;
}



.section1,
.section2,
.section3,
.section4,
.section5{
    margin-bottom:250px;
    width: 70%;
}

.my_carousel img{
    display:none;
}

.carousel-global{
    position:relative;
}


.active_carousel{
    display:block !important;
    position:absolute;
    top:0;
    
}